In [1]:
import pandas as pd
import sqlite3 as sq
import matplotlib as mpl
from matplotlib import rcParams
import matplotlib.pyplot as plt
import numpy as np
import requests
pd.set_option('display.max_rows', 1000); pd.set_option('display.max_columns', 1000); pd.set_option('display.width', 1000)
pd.options.mode.chained_assignment = None
import pickle
import sqlite3 as sq

In [2]:
conn = sq.connect('../../Data-Pipelines/Outputs/CensusBureau.db')
sql_query = pd.read_sql('SELECT * FROM [CensusBureau_ACS5_2022_1]', conn)
ACS52022_1 = pd.DataFrame(sql_query)
sql_query = pd.read_sql('SELECT * FROM [CensusBureau_ACS5_2022_2]', conn)
ACS52022_2 = pd.DataFrame(sql_query)
ACS52022 = ACS52022_1.merge(ACS52022_2, on = ['NAME', 'GEO_ID', 'Source'])
ACS52022.drop(columns = 'Source', inplace = True)

In [5]:
data = ACS52022
thelist = ['Davidson County, Tennessee', 'Maury County, Tennessee', 'Robertson County, Tennessee', 
           'Rutherford County, Tennessee', 'Sumner County, Tennessee', 
           'Williamson County, Tennessee', 'Wilson County, Tennessee', 'MPO']
data = data.loc[data['NAME'].isin(thelist)].reset_index(drop = True)
cols = ['NAME', 'Population ACS', 'Male', 'Female', 'White Alone ACS', 'Black or African American Alone ACS', 'American Indian Alaska Native Alone ACS', 
        'Asian Alone ACS', 'Native Hawaiian Other Pacific Islander Alone ACS', 'Some Other Race Alone ACS', 'Two or More Races ACS', 'Hispanic or Latino ACS', 
        'Not Hispanic or Latino ACS' 
       ]
data = data[cols]

In [6]:
data.head()

                           NAME  Population ACS      Male    Female  White Alone ACS  Black or African American Alone ACS  American Indian Alaska Native Alone ACS  Asian Alone ACS  Native Hawaiian Other Pacific Islander Alone ACS  Some Other Race Alone ACS  Two or More Races ACS  Hispanic or Latino ACS  Not Hispanic or Latino ACS
0    Davidson County, Tennessee        709786.0  343836.0  365950.0         423888.0                             186862.0                                    965.0          25506.0                                             358.0                    27028.0                45179.0                 75237.0                    634549.0
1       Maury County, Tennessee        102002.0   49972.0   52030.0          82838.0                              11082.0                                    329.0            890.0                                               8.0                      744.0                 6111.0                  6747.0                     95255.0
2   Robertson County, Tennessee         73297.0   36439.0   36858.0          61202.0                               5263.0                                    133.0            524.0                                               2.0                     3115.0                 3058.0                  5636.0                     67661.0
3  Rutherford County, Tennessee        343727.0  169927.0  173800.0         244580.0                              52366.0                                    498.0          12520.0                                             452.0                    10210.0                23101.0                 31382.0                    312345.0
4      Sumner County, Tennessee        196845.0   96687.0  100158.0         162426.0                              16573.0                                    287.0           3068.0                                             159.0                     4884.0                 9448.0                 11143.0                    185702.0

In [7]:
data.to_csv('grantdownload.csv', index = False)